<%= render partial: "shared/logout", locals: { page: "Add Transaction" } %>
<div class="transaction-back-div">
  <%= link_to, :back do %>
    <%= image_tag asset_path('back-arrow.png'), style: "width: 20px" %>
  <% end %>
</div>
<%= render "form", entity: @entity %>
