<p style="color: green"><%= notice %></p>
<section>
  <h1 class="font">Categories</h1>
  <div id="groups">
    <% @groups.each do |group| %>
      <%= render group %>
      <p>
        <%= link_to "Show this group", group %>
      </p>
    <% end %>
  </div>
</section>
