<%= render partial: "shared/logout", locals: { page: "Categories" } %>
<p style="color: green"><%= notice %></p>
<section class="groups-container">
  <ul class="groups-ul">
    <li>
      <div>
        <h1>User Icon</h1>
        <h2>USer name</h2>
      </div>
      <div>
        <h1>Total transaction amount</h1>
      </div>
    </li>
    <li>
      <div>
        <h1>Category 2</h1>
      </div>
    </li>
    <li>
      <div>
        <h1>Category 3</h1>
      </div>
    </li>
  </ul>
  <div class="add-transaction-div">
    <%= button_to "Create New Group", class: "add-transaction" %>
  </div>
</section>
