<section class="devise-landing-page">
  <h1 class="font">
    Welcome
  </h1>
  <br>
  <div>
    <%= render "form", user: @user %>
  </div>
  <!-- <div>
    <%= link_to "Back to users", users_path %>
  </div> -->
</section>
