<nav class="new-user-nav">
<div class="hamburger">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>
  <h2 class="next-btn font"><%= page %></h2>

  <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'log-out-btn font' %>
</nav>


<script>
const hamburger = document.querySelector('.hamburger');
const profileShow = document.querySelector('.hamburger-options');

hamburger.addEventListener('click', () => {
  hamburger.classList.toggle('clicked');
  profileShow.classList.toggle('show');
});

</script>

