/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.font {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
}

button {
  border-radius: 10px;
  padding: 5px 10px;
  font-family: 'Nunito Sans', sans-serif;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.App-container {
  padding: 0;
  margin: 0;
}

.App,
p {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hamburger-options {
  display: none;
}

.alert,
.alert-alert,
.notice {
  background-color: #fff;
}

a,
a:active,
a:hover {
  text-decoration: none;
  color: #434b54;
}
