.new-group-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

.group-form-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.group-form-ul-li {
  display: grid;
  gap: 5px;
}

.group-form-input {
  height: 30px;
  min-width: 80vw;
}

.group-form-ul-li:nth-child(1) .group-form-input {
  border: 1px solid #000;
}
