.login-page-container,
.sign-up-section {
  height: 100vh;
  background-color: #fff;
}

.login-back-div {
  background-color: #3778c2;
  padding: 30px 20px;
}

.login-header {
  text-align: center;
  font-size: 2rem;
}

.login-ul,
.sign-up-section ul {
  display: grid;
  gap: 20px;
  place-items: center;
}

.login-field-label {
  font-size: 1.2rem;
}

.login-field-input {
  min-height: 25px;
  min-width: 80vw;
}

.log-in-submit-btn {
  padding: 8px 20px;
  background-color: #5fb523;
  color: #fff;
  font-size: 1.8rem;
}

.shared-links {
  display: grid;
  gap: 5px;
  place-items: center;
  padding: 20px;
}
