.new-user-nav {
  background-color: #3778c2;
  margin: 0;
  padding: 20px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.next-btn,
.log-out-btn {
  background-color: inherit;
  border: 0;
}

.new-user-nav h1,
.next-btn,
.log-out-btn {
  color: #fff;
}

.log-out-btn {
  font-size: 1.2rem;
  cursor: pointer;
}

.sign-up-section ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user_reg_form_ul_li_input {
  height: 20px;
  border: 1px solid #000;
}
